@font-face {
	font-family:TerpelSans-Regular;
	src: url(../fonts/TerpelSans-Regular.woff);
	}
	
@font-face {
	font-family:TerpelSans-Light;
	src: url(../fonts/TerpelSans-Light.woff);
	}
	
@font-face {
	font-family:TerpelSans-Bold;
	src: url(../fonts/TerpelSans-Bold.woff);
	}
	
@font-face {
	font-family:TerpelSans-ExtraBold;
	src: url(../fonts/TerpelSans-ExtraBold.woff);
	}



 html, body {
	width: 100%;
    height: auto;
	margin: 0;
	padding: 0;
	font-family: TerpelSans-Regular;
}
.maincontent{
	display: flex;
	
}
.login{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 100%;
}
.container-login{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: flex-start;
	width: 20%;
	min-width: 350px;
	height: 100vh;
	background-color: #FF1E0A;
	
}
.container-login img{
	width: 80%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 55%;
}
.footer{
	position: fixed;
	bottom:0;
	margin-bottom: 1%;
	color: #ffffff;
	font-size: 10px;
}
.container-form{
	width: 80%;
	height: auto;
}
.container-form h1{
	text-align: center;
	margin-bottom: 8%;
	color: #ffffff;
}
.container-form label{
	font-size:20px;
	color: #ffffff;
}
.container-form input{
	width: 90%;
	height: 2.8vh;
	margin-top: 2%;
	margin-bottom: 3%;
	border-radius:13px;
	font-family:TerpelSans-Bold ;
	background-color: #990C00;
	color: #ffffff;
	border: none;
	outline:none
}

.container-form .button-login{
	width: 40%;
	height: 3vh;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 60px;
	font-family:TerpelSans-Bold ;
	font-size: 18px;
	background-color: #990C00;
	color: #ffffff;
	border: none;
	outline:none
}
.container-form .button-login:hover{
	background-color: #ffffff;
	color: #FF1E0A;
}
.button-reset-pass{
	width: 70%;
	height: 3vh;
	margin-top: 30%;
	margin-bottom: 10%;
	border-radius: 60px;
	font-family:TerpelSans-Bold ;
	font-size: 13px;
	background-color: #ffffff;
	color: #FF1E0A;
	border: none;
	outline:none
}
.button-reset-pass:hover{
	text-decoration: underline;
}
.container-img{
	display: flex;
	width: 80%;
	height: 100vh;
	
}
.container-img img{
	display: block;
	min-width: 100%;
	height: auto;
	margin: 0 auto;
}
footer{
	display: none;
}

@media screen and (max-width: 990px) {
	
	.container-login{
		width: 100%;
		height: 100vh;
		min-height: 100vw;
	}
	.container-login img{
		width: 50%;
		height: auto;
		margin-top: 5%;
		margin-bottom: 10%;
	}
	.container-form{
		display: block;
		width: 90%;
		height: 100%;
	}
	.container-form h1{
		text-align: center;
		margin-bottom: 4%;
		color: #ffffff;
	}
	.container-form input{
		width: 90%;
		height: 30px;
		min-height: 20px;
	}
	.container-form .button-login{
		width: 40%;
		height: 30px;
		margin-top: 3%;
		margin-bottom: 0%;
		outline:none
	}
	.button-reset-pass{
		width: auto;
		height: 30px;
		margin-top: 35%;
		outline:none
	
	}
	.container-img{
		display: none;
	}
	footer{
		display: block;
		margin: 0;
		padding: 0;
		height: 8%;
		top: 0;
		background-color: #2E2E2E;
	}

	footer .footer-respon p{
		padding-top: 2%;
		padding-bottom: 2%;
		margin-block-start: 0;
		margin-block-end: 0;
		color: #ffffff;
		font-size: 12px;	
		text-align: center;
		
	}
  }
/************************************************** fin -index.html******************************************************************/
/************************************************** incio -Autorizacion-manejo-datos.html******************************************************************/
.maincontent{
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.container-barra-lateral{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: flex-start;
	width: 20%;
	min-width: 350px;
	background-color: #FF1E0A;
	
}
.container-barra-lateral img{
	width: 78%;
	height: auto;
	margin-top: 15%;
	margin-left: 9%;
}
.footer{
	position: fixed;
	bottom:0;
	margin-bottom: 1%;
	color: #ffffff;
	font-size: 10px;
}

.container-habeas-data{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: auto;
	width: 80%;
	min-height: 100%;
}

.habeas-data{
	margin-left: 3%;
	margin-top: 8%;
	width: 90%;
}

.habeas-data h1{
	color: #FF1E0A;
}

.habeas-data p{
	color: #2E2E2E;
	font-size: 16px;
	text-align: justify;
}

.habeas-data .button-confirmacion{
	width: 10%;
	min-width: 103px;
	height: 3vh;
	margin-top: 2%;
	margin-bottom: 5%;
	border-radius:60px;
	font-family:TerpelSans-Bold ;
	font-size: 18px;
	background-color: #FF1E0A;
	color: #ffffff;
	border: none;
	cursor: pointer;
	outline:none
}

@media screen and (max-width: 990px) {
	
	.maincontent{
		flex-direction: column;
	}

	.container-barra-lateral{
		width: 100%;
		align-items:flex-start;
	}

	.container-barra-lateral img{
		width: 40%;
		height: auto;
		margin-top: 5%;
		margin-bottom: 5%;
		margin-left: 4%;
	}

	.footer{
		display: none;
	}

	.container-habeas-data{
		width: 90%;
		margin-left: 6%;
	}
	
	.habeas-data{
		margin-top: 0%;
	}

	.habeas-data .button-confirmacion{
		width: 40%;
		height: 5vh;
		margin-top: 2%;
		margin-bottom: 4%;
		margin-left: 6%;
		border-radius: 60px;
		font-family:TerpelSans-Bold ;
		font-size: 14px;
		background-color: #FF1E0A;
		color: #ffffff;
		border: none;
	}

  }