@font-face {
	font-family:TerpelSans-Regular;
	src: url(../fonts/TerpelSans-Regular.woff);
	}
	
@font-face {
	font-family:TerpelSans-Light;
	src: url(../fonts/TerpelSans-Light.woff2);
	}
	
@font-face {
	font-family:TerpelSans-Bold;
	src: url(../fonts/TerpelSans-Bold.woff);
	}
	
@font-face {
	font-family:TerpelSans-ExtraBold;
	src: url(../fonts/TerpelSans-ExtraBold.woff);
	}



 html, body {
	width: 100%;
    height: auto;
	margin: 0;
	padding: 0;
	font-family: TerpelSans-Regular;
}
 a{
	 text-decoration: none;
	 color: inherit;
 }
.maincontent{
	display: flex;
	
}
.login{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 100%;
}
.container-login{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: flex-start;
	width: 20%;
	min-width: 350px;
	max-width: 350px;
	height: 100vh;
	background-color: #FF1E0A;
	
}
.container-login img{
	width: 80%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 45%;
	
}
.footer{
	position: fixed;
	bottom:0;
	margin-bottom: 1%;
	color: #ffffff;
	font-size: 10px;
}
.container-form{
	width: 80%;
	height: auto;
}
.container-form h1{
	text-align: center;
	margin-bottom: 8%;
	color: #ffffff;
}
.container-form label{
	font-size:20px;
	color: #ffffff;
}
.container-form input{
	width: 19em;
	height: 2em;
	margin-top: 2%;
	margin-bottom: 3%;
	border-radius:13px;
	font-family:TerpelSans-Bold ;
	background-color: #990C00;
	color: #ffffff;
	border: none;
	outline:none
}

.container-form .button-login{
	width: 40%;
	height: 1.5em;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 60px;
	font-family:TerpelSans-Bold ;
	font-size: 18px;
	background-color: #990C00;
	color: #ffffff;
	border: none;
	outline:none
}
.container-form .button-login:hover{
	background-color: #ffffff;
	color: #FF1E0A;
}
.button-reset-pass{
	width: 70%;
	height: 1.8em;
	margin-top: 20%;
	margin-bottom: 10%;
	border-radius: 60px;
	font-family:TerpelSans-Bold ;
	font-size: 13px;
	background-color: #ffffff;
	color: #FF1E0A;
	border: none;
	outline:none
}
.button-reset-pass:hover{
	text-decoration: underline;
}
.container-img{
	display: flex;
	width: 100%;
	height: 100vh;
	background-image: url("../img/servicio.png");
	background-size: cover;
}

footer{
	display: none;
}
@media screen and (max-width: 1367px) {/***********Estilos pantallas 1367px********************/
	.container-login img{
		width: 70%;	
		margin-bottom: 15%;	
	}
	.container-form .button-login{
		margin-bottom: 0%;
	}
}

@media screen and (max-width: 990px) {
	
	.container-login{
		width: 100%;
		height: 100vh;
		min-height: 100vw;
	}
	.container-login img{
		width: 50%;
		height: auto;
		margin-top: 5%;
		margin-bottom: 10%;
	}
	.container-form{
		display: block;
		width: 90%;
		height: 100%;
	}
	.container-form h1{
		text-align: center;
		margin-bottom: 4%;
		color: #ffffff;
	}
	.container-form input{
		width: 90%;
		height: 30px;
		min-height: 20px;
	}
	.container-form .button-login{
		width: 40%;
		height: 30px;
		margin-top: 3%;
		margin-bottom: 0%;
		outline:none
	}
	.button-reset-pass{
		width: auto;
		height: 30px;
		margin-top: 8%;
		outline:none
	
	}
	.container-img{
		display: none;
	}
	footer{
		display: block;
		margin: 0;
		padding: 0;
		height: 8%;
		top: 0;
		background-color: #2E2E2E;
	}

	footer .footer-respon p{
		padding-top: 2%;
		padding-bottom: 2%;
		margin: 0;
		margin-block-start: 0;
		margin-block-end: 0;
		color: #ffffff;
		font-size: 12px;	
		text-align: center;
		
	}
  }
  @media screen and (min-width:0\0) { 
	/* estilos CSS para IE9, IE10, IE11  */
	.container-login img{
		width:307px;
		height:85px;
		min-height: 85px;
	}

	.footer{
		position: fixed;
		left: 10px;
		bottom:0;
	}
	
}
/************************************************** fin -index.html******************************************************************/
/************************************************** incio -Autorizacion-manejo-datos.html******************************************************************/
.maincontent{
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.container-barra-lateral{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: flex-start;
	width: 20%;
	min-width: 350px;
	height: 100vh;
	background-color: #FF1E0A;
	
}

.container-barra-lateral .header{
	display: flex;
	width: 100%;
}
.container-barra-lateral .header .logo{
	display: flex;
	margin-top: 15%;
	margin-left: 9%;
}
.container-barra-lateral .header .logo img{
	width: 78%;
	height: 100%;
	
}
.container-barra-lateral .header .btn-menu{
	display: none;
}
.footer{
	position: fixed;
	width: 25%;
	bottom:0;
	margin-bottom: 1%;
	color: #ffffff;
	font-size: 10px;
	text-align: center;
}

.container-habeas-data{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: auto;
	width: 80%;
	min-height: 100%;
}

.habeas-data{
	margin-left: 3%;
	margin-top: 8%;
	width: 90%;
}

.habeas-data .titulo-habeas-data{
	font-family:TerpelSans-Bold;
	color: #FF1E0A;
	font-size: 1.5em;
}

.habeas-data p{
	color: #2E2E2E;
	font-size: .9em;
	text-align: justify;
}
.habeas-data p a{
	color: #FF1E0A;
	text-decoration: underline;
}

.habeas-data .button-confirmacion{
	width: 10em;
	min-width: 103px;
	height: 1.5em;
	margin-top: 2%;
	margin-bottom: 5%;
	border-radius:60px;
	font-family:TerpelSans-Bold ;
	font-size: 18px;
	background-color: #FF1E0A;
	color: #ffffff;
	border: none;
	cursor: pointer;
	outline:none
}
@media screen and (max-width: 1367px) {/***********Estilos pantallas 1367px********************/
	.container-barra-lateral{
		width: 18%;
		min-width: 290px;
	}
}

@media screen and (max-width: 990px) {
	
	.maincontent{
		flex-direction: column;
	}

	.container-barra-lateral{
		width: 100%;
		height: auto;
		align-items:flex-start;
	}
	.container-barra-lateral .header{
		align-items: center;
		justify-content: space-evenly;

	}
	.container-barra-lateral .header .logo{
		width: 80%;
		margin-top: 4%;
		margin-left: 0%;
		margin-bottom: 8%;

	}
	.container-barra-lateral .header .logo img{
		width: 55%;
		margin-top: 3%;
		height: auto;
	}
	.container-barra-lateral .header .btn-menu{
		display: flex;
	}
	.container-barra-lateral .header .btn-menu img{
		width: 36px;
		height: 36px;
	}
	.footer{
		display: none;
	}

	.container-habeas-data{
		width: 90%;
		margin-left: 6%;
	}
	
	.habeas-data{
		margin-top: 0%;
	}

	.habeas-data .button-confirmacion{
		width: 40%;
		height: 5vh;
		margin-top: 2%;
		margin-bottom: 4%;
		margin-left: 6%;
		border-radius: 60px;
		font-family:TerpelSans-Bold ;
		font-size: 14px;
		background-color: #FF1E0A;
		color: #ffffff;
		border: none;
	}

  }
  @media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-barra-lateral .header .logo img{
		width:250px;
		height:70px;
		min-height: 70px;
		margin-left: 0%;
	}
	.footer{
	  position: fixed;
	  width: 20%;
	  left: 8px;
	  bottom:0;
	}
	.habeas-data{
		margin-top: 0%;
	}
	.habeas-data p{
		font-size: 0.8em;
	}
  
  
  }
  
/************************************************** fin -Autorizacion-manejo-datos.html******************************************************************/
/************************************************** incio -perfil-usuario.html******************************************************************/
.maincontent{
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.container-menu{
	display: flex;
	margin-top: 10%;
	width: 90%;
	height: auto;
}
.menu{
	display: inline-block;
	width: 100%;
}
.menu ul li{
	margin-bottom: 0.7em;
	padding-left: 40px;
	width: auto;
	height: 1em;
	font-family:TerpelSans-Bold ;
	font-size: 24px;
	text-decoration: none;
	color: #ffffff;
	list-style-type: none;
	cursor: pointer;
}
#lista-comunicaciones{
	display: none;
	list-style: none;

}

.menu ul li:nth-child(1){
	background-image: url("../img/Academia.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom left;

}
.menu ul li:nth-child(2){
	background-image: url("../img/perfil.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom left;
}
.menu ul li:nth-child(3){
	background-image: url("../img/listado.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom left;

}
.menu ul li:nth-child(4){
	background-image: url("../img/mensaje.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom left;
}
.menu ul li:nth-child(5){
	background-image: url("../img/libros.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom left;
	margin-top: 0px;
}
.menu ul li:nth-child(6){
	background-image: url("../img/salir.png");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: bottom left;
}
.footer{
	position: fixed;
	bottom:0;
	margin-bottom: 1%;
	color: #ffffff;
	font-size: 10px;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: auto;
	width: 80%;
	min-height: 100%;
}

.container-perfil{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 8%;
	margin-top: 20%;
	width: 70%;
}
.container-perfil h1{
	color: #FF1E0A;
}

.container-perfil p{
	color: #2E2E2E;
	font-size: 16px;
	text-align: left;
}
.container-img-perfil{
	display: flex;
	align-self: flex-start;
	justify-content: flex-end;
}
.container-img-perfil img{
	width: 50%;
	height: 100%;
}
.container-datos h1{
	font-family:TerpelSans-Bold;
	font-size: 2.2em;
	color: #666666;
}
.container-datos p{
	font-family:TerpelSans-Bold;
	font-size: 1.6em;
	color: #666666;
}

.button-confirmacion{
	width: 70%;
	min-width: 200px;
	height: 3vh;
	margin-top: 10%;
	margin-bottom: 5%;
	border-radius:60px;
	font-family:TerpelSans-Bold ;
	font-size: 18px;
	background-color: #FF1E0A;
	color: #ffffff;
	border: none;
	cursor: pointer;
	outline:none
}
@media screen and (max-width: 1367px) {/***********Estilos pantallas 1367px********************/
	.container-menu{
		margin-top: 0%;
	}
	.menu ul li{
		margin-bottom: 0.6em;
		padding-left: 40px;
		font-size: 20px;
	}
	.container-perfil{
		margin-left: 0%;
		margin-top: 15%;
		width: 70%;
	}
	.container-datos h1{
		font-size: 1.5em;
	}
	.container-datos p{
		font-size: 1.3em;
	}
	.container-img-perfil img{
		width: 35%;
		margin-right: 30%;
	}
	.button-confirmacion{
		width: 70%;
		min-width: 200px;
		height: 5vh;
	}
}
@media screen and (max-width: 990px) {

	.container-menu{
		display: block;
		position: absolute;
		background-color:#FF1E0A;
		width: 70%;
		height: 70%;
		right: 100%;
		bottom: 14%;
		transition: .5s;
		z-index: 1;

	}
	.menu ul li{
		font-size: 1.2em;

	}
	.container-perfil{
		width: 80%;
		flex-direction: column;
		margin-top: 1em;
	}
	.container-img-perfil{
		width: 100%;
		justify-content: center;
	}
	.container-img-perfil img{
		width: 40%;
	}
	.container-datos h1{
		text-align: center;
		font-size: 1.5em;
	}
	.container-datos p{
		font-size: 1em;
		text-align: left;
	}
	.container-datos p button{
		width: 12em;
		height: 1.5em;
	}
	

}
@media all and (-ms-high-contrast:none and max-width: 990px){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-menu{
		display: flex;
		margin-top: 35%;
		margin-left: 18%;
		width: 90%;
	}
	.menu ul li{
		margin-bottom: 10px;
	}
	.container-perfil{
		width: 189px;
		height: 190px;
		margin-top: 10%;
		margin-left: 2%;
	}
	.container-img-perfil img{
		position: relative;
		width: 181px;
		height: 190px;
		top: 0px;
		left: 30px;
		margin-right: 80px;
		margin-left: 0;
	}
  }
  /************************************************** fin - Perfil-usuario.html******************************************************************/
  /************************************************** incio - home.html******************************************************************/
  .nombre-usuario {
	margin-top:5%;
	margin-right: 20%;
}
  .nombre-usuario p{
	font-family:TerpelSans-Bold;
	font-size: 24px;
	color: #FFFFFF;
}
  .container{
	display: flex;
	width: 100%;
	height: 100%;
}
.container-banner{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	order: 1;
	width: 100%;
	height: 60vh;
	background-image: url("../img/chicos.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right bottom;

}
.container-banner .container-banner-texto{
	margin-left: 5em;
	margin-top: 4em;
}
.container-banner .container-banner-texto p{
	color: #ffffff;
	font-family:TerpelSans-ExtraBold;	
	font-size: 5em;	
}
.container-banner .container-banner-texto p:nth-child(2){
	display: none;
}
.container-banner .barra-banner{
	display: flex;
	width: 100%;
	height: 14%;
	min-height: 80px;
	background-color: rgb(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}
.container-banner .barra-banner a{
	display: flex;
	width: 50%;
}

.container-banner .barra-banner .btn-bienvenida{
	display: flex;
	width: 50%;
	cursor: pointer;
}

.container-banner .barra-banner .btn-bienvenida img{
	width: 70px;
	height: 56px;
	margin-top: 15px;
	margin-left:20px;
}
.container-banner .barra-banner .btn-bienvenida p{
	font-family:TerpelSans-Bold;
	color: #FFFFFF;
	font-size: 1.2em;
	margin-top: 25px;
	margin-left: 25px;
}
.container-banner .barra-banner .btn-guia{
	display: flex;
	width: 50%;
	cursor: pointer;
}

.container-banner .barra-banner .btn-guia img{
	width: 70px;
	height: 56px;
	margin-top: 15px;
	margin-left:20px;
}
.container-banner .barra-banner .btn-guia p{
	font-family:TerpelSans-Bold;
	color: #FFFFFF;
	font-size: 1.2em;
	margin-top: 25px;
	margin-left: 25px;
}
.container-estaciones{
	display: flex;
	order: 2;
	width: 100%;
	height: 30vh;
}
.container-estaciones .container-estaciones-aprendizaje{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}
.container-estaciones .container-estaciones-aprendizaje .titulo-estaciones{
	width: 100%;
	height: 20%;
}
.container-estaciones .container-estaciones-aprendizaje .titulo-estaciones p{
	font-family:TerpelSans-ExtraBold;
	font-size: 24px;
	color: #FF1E0A;
	margin-left: 30px;
}

.container-estaciones .container-estaciones-aprendizaje .listado-estaciones{
	width: 100%;
	height: 80%;
	overflow-y: scroll;	
}
.container-estaciones .container-estaciones-aprendizaje .listado-estaciones ul li img{
	width: 4%;
	margin-right: 7px;
	vertical-align: middle;
}

.container-estaciones .container-estaciones-aprendizaje .listado-estaciones {
	margin-top: 3em;
}
.container-estaciones .container-estaciones-aprendizaje .listado-estaciones ul li{
	width: 100%;
	height: 80%;
	margin-bottom: 10px;
	font-family:TerpelSans-ExtraBold;
	text-decoration: underline;
	color: #666666;
	font-size: 1em;
	list-style: none;
	cursor: pointer;
}
.container-estaciones .container-estaciones-aprendizaje .listado-estaciones ul li .listado-cursos{/*****lista oculta***/	
	width: auto;
	margin-top: 1%;
	color: #666666;
	font-size: 1em;
	list-style: none;
	display: none;
}
.container-estaciones .container-estaciones-aprendizaje .listado-estaciones ul li .listado-cursos li img{	
	width: 4%;
}
.linea{
	border-width: 2px;
	border-color: #FF1E0A;
	border-style: solid;
}
.container-estaciones .container-actividades-pendientes{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
}
.container-estaciones .container-actividades-pendientes .titulo-actividades{
	width: 100%;
	height: 20%;
}
.container-estaciones .container-actividades-pendientes .titulo-actividades p{
	font-family:TerpelSans-ExtraBold;
	font-size: 24px;
	color: #FF1E0A;
	margin-left: 30px;
}
.container-estaciones .container-actividades-pendientes .listado-actividades{
	width: 100%;
	height: 80%;
	overflow-y: scroll;

}
.container-estaciones .container-actividades-pendientes .listado-actividades ul li img{
	width: 4%;
	margin-right: 9px;	
	vertical-align: middle;
}
.container-estaciones .container-actividades-pendientes .listado-actividades {
	margin-top:3em;
}
.container-estaciones .container-actividades-pendientes .listado-actividades ul li {
	width: 100%;
	height: 80%;
	margin-bottom: 10px;
	font-family:TerpelSans-ExtraBold;
	color: #666666;
	font-size: 1em;
	list-style: none;
	text-decoration: underline;
	cursor: pointer;
}
.container-links{
	display: flex;
	order: 3;
	width: 100%;
	height: 10vh;
}
.container-links .container-link-mercado{
	display: flex;
	width: 33%;
	height: 100%;
	background-color:#cecece;
}
.container-links .container-link-mercado img{
	width: 111px;
	height: 80px;
	margin-top: 20px;
	margin-left: 45px;
}
.container-links .container-link-mercado p{
	font-family:TerpelSans-ExtraBold;
	font-size: 1.5em;
	color: #FF1E0A;
	margin-left: 35px;
	margin-top: 20px;
}
.container-links .container-link-ubits{
	display: flex;
	width: 33%;
	height: 100%;
	background-color: #e0e0e0;
}
.container-links .container-link-ubits img{
	width: 111px;
	height: 80px;
	margin-top: 15px;
	margin-left: 45px;
}
.container-links .container-link-ubits p{
	font-family:TerpelSans-ExtraBold;
	font-size: 2em;
	color: #FF1E0A;
	margin-left: 35px;
	margin-top: 20px;
}

.container-links .container-link-claset{
	display: flex;
	width: 33%;
	height: 100%;
	background-color:#cecece;
}
.container-links .container-link-claset img{
	width: 111px;
	height: 80px;
	margin-top: 15px;
	margin-left: 45px;
}
.container-links .container-link-claset p{
	font-family:TerpelSans-ExtraBold;
	font-size: 1.5em;
	color: #FF1E0A;
	margin-left: 35px;
	margin-top: 15px;
}
@media screen and (max-width: 1367px) {/***********Estilos pantallas 1367px********************/
	.nombre-usuario {
		margin-top:0%;
	}
	.nombre-usuario p{
		font-size: 20px;
	}
	.container-banner .container-banner-texto{
		margin-left: 4em;
		margin-top: 3em;
	}
	.container-banner .container-banner-texto p{	
		font-size: 3.5em;	
	}
	.container-banner .barra-banner{
		width: 100%;
		height: 10%;
		min-height: 60px;
	}
	.container-banner .barra-banner .btn-bienvenida img{
		width: 55px;
		height: 41px;
		margin-top: 5px;
		margin-left:20px;
	}
	.container-banner .barra-banner .btn-bienvenida p{
		font-size: 1em;
		margin-top: 10px;
		margin-left: 25px;
	}
	.container-banner .barra-banner .btn-guia img{
		width: 52px;
		height: 38px;
		margin-top: 10px;
		margin-left:20px;
	}
	.container-banner .barra-banner .btn-guia p{
		font-size: 1em;
		margin-top: 15px;
		margin-left: 25px;
	}
	.container-estaciones .container-estaciones-aprendizaje .titulo-estaciones p{
		font-size: 18px;
		margin-left: 30px;
	}
	.container-estaciones .container-estaciones-aprendizaje .listado-estaciones {
		margin-top: 0.8em;
	}
	.container-estaciones .container-estaciones-aprendizaje .listado-estaciones ul li{
		width: 100%;
		height: 80%;
		margin-bottom: 10px;
		font-size: 0.8em;
	}
	.container-estaciones .container-actividades-pendientes .titulo-actividades p{
		font-size: 18px;
		margin-left: 30px;
	}
	.container-estaciones .container-actividades-pendientes .listado-actividades {
		margin-top:0.8em;
	}
	.container-estaciones .container-actividades-pendientes .listado-actividades ul li {
		width: 100%;
		height: 80%;
		margin-bottom: 10px;
		font-size: 0.8em;
	}
	.container-links .container-link-mercado img{
		width: 71px;
		height: 48px;
		margin-top: 5px;
		margin-left: 40px;
	}
	.container-links .container-link-mercado p{
		font-size: 1em;
		margin-left: 35px;
		margin-top: 5px;
		color:#FF1E0A;
	}
	.container-links .container-link-ubits img{
		width: 71px;
		height: 48px;
		margin-top: 5px;
		margin-left: 40px;
	}
	.container-links .container-link-ubits p{
		font-size: 1em;
		margin-left: 35px;
		margin-top: 20px;
	}
	.container-links .container-link-claset img{
		width: 71px;
		height: 48px;
		margin-top: 5px;
		margin-left: 40px;
	}
	.container-links .container-link-claset p{
		font-size: 1em;
		margin-left: 35px;
		margin-top: 5px;
	}
	

}
@media screen and (max-width: 990px){
	.nombre-usuario {
		display: none;
	}
	.container{
		display: block;
	}
	.container-banner{
		height: 40vh;
	}
	.container-banner .container-banner-texto{
		margin-left: 1em;
		margin-top: 9.5em;
	}
	.container-banner .container-banner-texto p{/******cambio texto***/	
		font-size: 1em;
		display: none;
	}
	.container-banner .container-banner-texto p:nth-child(2){
		display: block;
	}
	.container-banner .barra-banner{
		height: 30%;
		min-height: 45px;
		max-height: 45px;
	}
	.container-banner .barra-banner .btn-bienvenida img{
		width: 30px;
		height: 25px;
	}
	.container-banner .barra-banner .btn-bienvenida p{
		font-size: .8em;
		margin-top: 10px;
		margin-left: 15px;
	}
	.container-banner .barra-banner .btn-guia img{
		width: 30px;
		height: 25px;
	}
	.container-banner .barra-banner .btn-guia p{
		font-size: .6em;
		margin-top: 8px;
		margin-left: 15px;
	}
	.container-estaciones{
		display: inline-block;
		height: auto;
	}
	.container-estaciones .container-estaciones-aprendizaje{
		display: inline-block;
		width: 100%;
		height: auto;
	}
	.container-estaciones .container-estaciones-aprendizaje .titulo-estaciones{
		height: auto;
	}
	.container-estaciones .container-estaciones-aprendizaje .titulo-estaciones p{/******cambio texto***/
		margin-left: 20px;
		font-size: 1em;
	}
	.container-estaciones .container-estaciones-aprendizaje .listado-estaciones{
		height: auto;	
	}
	.container-estaciones .container-estaciones-aprendizaje .listado-estaciones {
		margin-top: 1em;
	}
	.container-estaciones .container-estaciones-aprendizaje .listado-estaciones ul li .listado-cursos li img{	
		width: 5%;
	}
	.linea{
		width: 90%;
	}
	.container-estaciones .container-actividades-pendientes{
		display: inline-block;
		width: 100%;
		height: auto;
	}
	.container-estaciones .container-actividades-pendientes .titulo-actividades{
		height: auto;
	}
	.container-estaciones .container-actividades-pendientes .titulo-actividades p{/******cambio texto***/
		margin-left: 20px;
		font-size: 1em;
	}
	.container-estaciones .container-actividades-pendientes .listado-actividades{
		height: auto;	
	}
	.container-estaciones .container-actividades-pendientes .listado-actividades {
		margin-top:1em;
	}
	.container-links{
		display: inline-block;
		width: 100%;
		height: 20%;
		margin-bottom: .2em;
	}
	.container-links .container-link-mercado{
		width: 90%;
		height: 3em;
		background-color:#FF1E0A;
		margin-left: 1em;
		margin-bottom: .1em;
		background-image: url("../img/mercadoblanco.png");
		background-repeat: no-repeat;
		background-size: 40px 30px;
		background-position: 1em .8em;
	}
	.container-links .container-link-mercado img{
		display: none;
	}
	.container-links .container-link-mercado p{
		font-size: .7em;
		color: #FFFFFF;
		margin-left: 6em;
		margin-top: .9em;
	}
	.container-links .container-link-ubits{
		width: 90%;
		height: 3em;
		background-color:#FF1E0A;
		margin-left: 1em;
		margin-bottom: .1em;
		background-image: url("../img/ubiblanco.png");
		background-repeat: no-repeat;
		background-size: 40px 30px;
		background-position: 1em .5em;
	}
	.container-links .container-link-ubits img{
		display: none;
	}
	.container-links .container-link-ubits p{
		font-size: .9em;
		color: #FFFFFF;
		margin-left: 5em;
		margin-top: .9em;
	}
	.container-links .container-link-claset{
		width: 90%;
		height: 3em;
		background-color:#FF1E0A;
		margin-left: 1em;
		background-image: url("../img/mercadoblanco.png");
		background-repeat: no-repeat;
		background-size: 40px 30px;
		background-position: 1em .8em;
	}
	.container-links .container-link-claset img{
		display: none;
	}
	.container-links .container-link-claset p{
		font-size: .7em;
		color: #FFFFFF;
		margin-left: 6em;
		margin-top: .9em;
	}
}
@media all and (-ms-high-contrast:none){
	.container-banner .barra-banner{	
		background-color: rgba(255, 255, 255, 0.5);
		height: 80px;
	}
	.container-links .container-link-mercado img{
		width: 90px;
		height: 65px;
		margin-top: 7px;
	}
	.container-links .container-link-mercado p{
		margin-top: 7px;
	}
	.container-links .container-link-ubits img{
		width: 90px;
		height: 65px;
		margin-top: 7px;
	}
	.container-links .container-link-ubits p{
		margin-top: 10px;
	}
	.container-links .container-link-claset img{
		width: 90px;
		height: 65px;
		margin-top: 7px;
	}
	.container-links .container-link-claset p{
		margin-top: 5px;
	}
	
}

/************************************************** fin - home.html******************************************************************/
/************************************************** inicio - certificaciones.html******************************************************************/
.container-certificaciones{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
	overflow-y: hidden;
}
.container-img-certificaciones{
	width: 70%;
	margin-bottom: 3%;
}
.container-img-certificaciones img{
	width: 30%;
}
.container-tabla-certificados{
	display: flex;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}
.container-tabla-certificados table thead tr{
	background-color: #FF1E0A;
	color: #ffffff;
	font-size: 1.1em;
}
.container-tabla-certificados table thead tr th{
	width: 16em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	border-radius: 1em;
}

.container-tabla-certificados table{
	overflow-y: scroll;
}
.container-tabla-certificados table tbody tr th{
	padding-top: 20px;
	color: #666666;
	font-size: 1em;
}
.container-tabla-certificados table tbody tr th:nth-child(1){
	text-align: left;
}
.container-tabla-certificados table tbody tr th:nth-child(3){
	cursor: pointer;
}


.container-tabla-certificados table tbody tr th img{
	width: 28px;
	transform: rotate(90deg);
}

@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-certificaciones{
		width: 90%;
	}
	.container-img-certificaciones img{
		width: 234px;
		height: 69px;
	}
	.container-tabla-certificados  {
		width: 100%;
		overflow-x: hidden;
	}
  }
@media screen and (max-width: 990px){

	.container-certificaciones{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}
	.container-img-certificaciones img{
	 width: 250px;
	 margin-left: 2em;
	}
	.co
	.container-tabla-certificados{
		overflow-y: auto;
		
	}
	.container-tabla-certificados table thead tr{
		font-size: .9em;
	}
	.container-tabla-certificados table thead tr th{
		padding: .1em;
		border-radius: 1em;
	}
	.container-tabla-certificados table tbody tr th{
		font-size: .8em;

	}
	.container-tabla-certificados table tbody tr th img{
		width: 18px;
	}
}
/************************************************** fin - certificaciones.html******************************************************************/
/************************************************** inicio - evaluaciones.html******************************************************************/
.container-evaluaciones{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
	overflow-y: hidden;
}
.container-img-evaluaciones{
	width: 70%;
	margin-bottom: 3%;
}
.container-img-evaluaciones img{
	width: 30%;
}
.container-tabla-evaluaciones{
	display: flex;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}
.container-tabla-evaluaciones table thead tr{
	background-color: #FF1E0A;
	color: #ffffff;
	font-size: 1.1em;
}
.container-tabla-evaluaciones table thead tr th{
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	border-radius: 1em;

}
.container-tabla-evaluaciones table thead tr th:nth-child(1){
	width: 38%;
}
.container-tabla-evaluaciones table thead tr th:nth-child(3){
	width: 25%;
}

.container-tabla-evaluaciones table{
	overflow-y: scroll;
}
.container-tabla-evaluaciones table tbody tr th{
	padding-top: 20px;
	color: #666666;
	font-size: 1em;	
}
.container-tabla-evaluaciones table tbody tr th button{
	background-color: #cecece;
	color: #2E2E2E;
	font-family: TerpelSans-Regular;
	font-size: .7em;
	border: none;
	border-radius: 2em;
}
.container-tabla-evaluaciones table tbody tr th:nth-child(1){
	text-align: left;
}

.container-tabla-evaluaciones table tbody tr th:nth-child(2){
	cursor: pointer;
}
.container-tabla-evaluaciones table tbody tr th button:nth-child(2){
	cursor: pointer;
}


@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-evaluaciones{
		width: 70%;
	}
	.container-img-evaluaciones img{
		width: 234px;
		height: 69px;
	}
	.container-tabla-evaluaciones  {
		width: 100%;
		overflow-x: hidden;
	}
  }
@media screen and (max-width: 990px){

	.container-evaluaciones{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}
	.container-img-evaluaciones img{
	 width: 200px;
	 margin-left: 2em;
	}
	.co
	.container-tabla-evaluaciones{
		overflow-y: auto;
		
	}
	.container-tabla-evaluaciones table thead tr{
		font-size: .9em;
	}
	.container-tabla-evaluaciones table thead tr th{
		padding: .1em;
		border-radius: 1em;
	}
	.container-tabla-evaluaciones table tbody tr th{
		font-size: .8em;

	}
	.container-tabla-evaluaciones table tbody tr th img{
		width: 18px;
	}
	
}
/************************************************** fin - evaluaciones.html******************************************************************/
/************************************************** inicio - recursos.html******************************************************************/
.container-recursos{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 58.5%;
	overflow-y: hidden;
}
.container-img-recursos{
	width: 70%;
	margin-bottom: 8%;
}
.container-img-recursos img{
	width: 40%;
	min-width: 206px;
}
.container-todos-recursos{
	width: 100%;
	display: flex;
	flex-direction: row;

}
.container-todos-recursos .container-botones{
	display: inline-block;
	width: 50%;
	padding-top: 2%;
}
.container-todos-recursos .container-botones button{
	width: 70%;
	min-width: 171px;
	height: 2em;
	margin-bottom:10%;
	padding-left: 10%;
	background-color: #FF1E0A;
	color: #ffffff;
	font-family:TerpelSans-Bold;
	font-size: 1em;
	border: none;
	border-radius: 4em;
	text-align: left;
	cursor: pointer;
	outline:none
}
.container-todos-recursos .container-botones .activo{
	background-color: #990C00;
}
.container-todos-recursos .container-qr{
	width: 50%;
	
}
.container-todos-recursos .container-qr img{
	width: 95%;
}

@media screen and (max-width: 990px){
	.container-recursos{
		width: 100%;
		justify-content: center;
		margin-left: 0%;

	}
	.container-todos-recursos{
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		align-content: center;
	}
	.container-todos-recursos .container-botones{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-top: 2%;
	}
	.container-todos-recursos .container-botones button{
		width: 15em;
		height: 2em;
		background-color: #cecece;
		color: #FF1E0A;
		text-align: center;
		margin-bottom:3%;
		padding-left: 0%;

	}
	.container-todos-recursos .container-botones .activo{
		background-color: #cecece;
		color: #FF1E0A;
	}
	.container-todos-recursos .container-qr{
		width: 40%;
	}
	.container-todos-recursos .container-qr img{
		width: 90%;
	}
}
@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-todos-recursos .container-botones button{
		width: 70%;
		margin-right: 1em;

	}
	.container-img-recursos img{
		width: 40%;
		max-width: 250px;
	}
	.container-todos-recursos .container-qr img{
		width: 95%;
		max-width: 300px;
	}
  }
/************************************************** fin - recursos.html******************************************************************/
/************************************************** inicio - archivos.html******************************************************************/
.container-archivos{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
	overflow-y: hidden;
}
.container-img-archivos{
	width: 70%;
	margin-bottom: 3%;
}
.container-img-archivos img{
	width: 30%;
}
.container-tabla-archivos{
	display: flex;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}
.container-tabla-archivos table thead tr{
	background-color: #FF1E0A;
	color: #ffffff;
	font-size: 1.1em;
}
.container-tabla-archivos table thead tr th{
	height: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	border-radius: 1em;

}
.container-tabla-archivos table thead tr th:nth-child(1){
	width: 30%;
}
.container-tabla-archivos table thead tr th:nth-child(2){
	width: 40%;
}
.container-tabla-archivos table thead tr th:nth-child(3){
	width: 20%;
}

.container-tabla-archivos table{
	overflow-y: scroll;
}
.container-tabla-archivos table tbody tr th{
	padding-top: 20px;
	color: #666666;
	font-size: 1em;	
}

.container-tabla-archivos table tbody tr th:nth-child(1){
	text-align: left;
}

.container-tabla-archivos table tbody tr th:nth-child(4){
	cursor: pointer;
}
.container-tabla-archivos table tbody tr th img{
	cursor: pointer;
	width: 28px;
	transform: rotate(90deg);
}



@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-archivos{
		width: 70%;
	}
	.container-img-archivos img{
		width: 40%;
		max-width: 250px;
	}
	.container-tabla-archivos  {
		width: 100%;
		overflow-x: hidden;
	}
  }
@media screen and (max-width: 990px){

	.container-archivos{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}
	.container-img-archivos img{
	 width: 200px;
	 margin-left: 2em;
	}
	.co
	.container-tabla-archivos{
		overflow-y: auto;
		
	}
	.container-tabla-archivos table thead tr{
		font-size: .9em;
	}
	.container-tabla-archivos table thead tr th{
		padding: .1em;
		border-radius: 1em;
	}
	.container-tabla-archivos table tbody tr th{
		font-size: .8em;

	}
	.container-tabla-archivos table tbody tr th img{
		width: 18px;
	}
	
}
/************************************************** fin - archivos.html******************************************************************/
/************************************************** inicio - curso-activo.html******************************************************************/
.container-curso{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 8%;
	margin-left: 2%;	
}
.container-curso h1{
	font-size: 2em;
	font-family:TerpelSans-Bold;
	color: #FF1E0A;
}
.container-curso .curso{
	width: 100%;
	height: 70vh;
	background-image: url("../img/estilo.png");
	background-size: contain;
	background-repeat: no-repeat;
}
@media screen and (max-width: 1367px) {/***********Estilos pantallas 1367px********************/
	.container-curso{
		margin-top: 4%;	
	}
	.container-curso h1{
		font-size: 1em;
	}
}

@media screen and (max-width: 990px){
	.container-curso{
		margin-left: 0;
		width: 100%;
	}
	.container-curso h1{
		font-size: 1em;
		margin-left: .2em;
	}
}
/************************************************** fin - curso-activo.html******************************************************************/
/************************************************** inicio - reestablecer-contraseña.html******************************************************************/
.container-reset-contrasena{
	display: flex;
	width: 100%;
}
.reset-contrasena{
	display: flex;
	margin-top: 5em;
	margin-left: 5em;
}
.reset-contrasena form h1{
	color: #FF1E0A;
}
.reset-contrasena form p{
	color:#666666;
}
.reset-contrasena form label{
	color:#666666;
	font-family:TerpelSans-Bold;
	font-size:1.3em;
}
.reset-contrasena form input{
	width: 19em;
	height: 1.8em;
	margin-top: 2%;
	margin-bottom: 1%;
	border-radius:4em;
	font-family:TerpelSans-Bold ;
	background-color: #990C00;
	color: #ffffff;
	border: none;
	outline:none
}
.reset-contrasena form img{
	margin-top: .5em;
	margin-left: 3em;
}
.reset-contrasena form button{
	width: 32%;
	min-width:230px;
	height: 1.5em;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 60px;
	font-family:TerpelSans-Bold ;
	font-size: 18px;
	background-color: #990C00;
	color: #ffffff;
	border: none;
	outline:none;
}
.reset-contrasena form button:hover{
	background-color: #FF1E0A;
	color: #FFFFFF;
}
@media screen and (max-width: 1367px) {/***********Estilos pantallas 1367px********************/
	.reset-contrasena{
		margin-top: 3em;
		margin-left: 5em;
	}
}
@media screen and (max-width: 990px){
	.reset-contrasena{
		margin-top: 1em;
		margin-left: 1em;
	}
	.reset-contrasena form label{
		font-size:1em;
	}
	.reset-contrasena form input{
		width: 19em;
		height: 1.5em;
	}
	.reset-contrasena form button{
		height: 1.5em;
		font-size: 1em;
	}

}
/************************************************** fin - reestablecer-contraseña.html******************************************************************/
/************************************************** inicio - video.html******************************************************************/
.container-video{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 7%;
	margin-left: 2%;
}
.container-video h1{
	font-size: 2em;
	font-family:TerpelSans-Bold;
	color: #FF1E0A;
}
.container-video video{
	width: 70%;
}
.contenedor-botones{
	display: flex;
	flex-direction: row;
	margin-top: 0%;
	margin-left: 2%;
}
.contenedor-botones .boton-anterior{
	display: inline-table;
	background-color: #FF1E0A;
	width: 90px;
	height: 10px;
	margin-top: 1em;
	margin-right: 2em;
	color: #FFFFFF;
	border-radius: 2em;
	text-align: center;
	cursor: pointer;
}
.contenedor-botones .boton-siguiente{
	display: inline-table;
	background-color: #FF1E0A;
	width: 90px;
	height: 10px;
	margin-top: 1em;
	color: #FFFFFF;
	border-radius: 2em;
	text-align: center;
	cursor: pointer;
}
@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.video{
		height: 60vh;
	}
  }
@media screen and (max-width: 990px){
	.container-video{
		margin-left: 0;
		width: 100%;
	}
	.container-video h1{
		font-size: 1em;
		margin-left: .2em;
	}
	.container-video video{
		width: 100%;
	}
}
/************************************************** fin - video.html******************************************************************/
/************************************************** inicio - comunicaciones.html******************************************************************/
.container-foro{
	display: flex;
	flex-direction: column;
	width: 95%;
	margin-top: 7%;
	margin-left: 2%;
}
.container-foro h1{
	font-size: 2em;
	font-family:TerpelSans-Bold;
	color: #FF1E0A;
}
.container-foro img{
	width: 25%;
	min-width: 298px;
}
.container-foro p{
	font-size: 1em;
	color: #666666;
}
.foro{
	display: flex;
	width: 70%;
	height: 40vh;
	border: solid 2px #2E2E2E;
}

@media screen and (max-width: 990px){
	.container-foro{
		margin-left: 0;
		width: 99%;
	}

	.container-foro h1{
		font-size: 1em;
		margin-left: .2em;
	}
	.foro{
		width: 100%;
	}
	
}
/************************************************** fin - comunicaciones.html******************************************************************/
/************************************************** inicio - chat.html******************************************************************/
.container-chat{
	display: flex;
	flex-direction: column;
	width: 95%;
	margin-top: 7%;
	margin-left: 2%;
}
.container-chat img{
	width: 25%;
	min-width: 298px;
	height: auto;
}
.container-chat h1{
	font-size: 2em;
	font-family:TerpelSans-Bold;
	color: #FF1E0A;
}
.container-chat p{
	font-size: 1em;
	color: #666666;
}
.chat{
	display: flex;
	width: 70%;
	height: 40vh;
	border: solid 2px #2E2E2E;
}

@media screen and (max-width: 990px){
	.container-chat{
		margin-left: 0;
		width: 99%;
	}
	.container-chat h1{
		font-size: 1em;
		margin-left: .2em;
	}
	.chat{
		width: 100%;
	}
	
}
@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */

	.container-foro img{
		width: 40%;
		max-width: 250px;
	}
	.container-chat img{
		width: 40%;
		max-width: 250px;
	}

  }
/************************************************** fin - chat.html******************************************************************/
/************************************************** inicio - chat.html******************************************************************/
.container-archivos{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
	overflow-y: hidden;
}
.container-img-archivos{
	width: 70%;
	margin-bottom: 3%;
}
.container-img-archivos img{
	width: 30%;
}
.container-tabla-archivos{
	display: flex;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}
.container-tabla-archivos table thead tr{
	background-color: #FF1E0A;
	color: #ffffff;
	font-size: 1.1em;
}
.container-tabla-archivos table thead tr th{
	height: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	border-radius: 1em;

}
.container-tabla-archivos table thead tr th:nth-child(1){
	width: 30%;
}
.container-tabla-archivos table thead tr th:nth-child(2){
	width: 40%;
}
.container-tabla-archivos table thead tr th:nth-child(3){
	width: 20%;
}

.container-tabla-archivos table{
	overflow-y: scroll;
}
.container-tabla-archivos table tbody tr th{
	padding-top: 20px;
	color: #666666;
	font-size: 1em;	
}

.container-tabla-archivos table tbody tr th:nth-child(1){
	text-align: left;
}

.container-tabla-archivos table tbody tr th:nth-child(4){
	cursor: pointer;
}
.container-tabla-archivos table tbody tr th img{
	cursor: pointer;
	width: 28px;
	transform: rotate(90deg);
}



@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-archivos{
		width: 70%;
	}
	.container-img-archivos img{
		width: 40%;
		max-width: 250px;
	}
	.container-tabla-archivos  {
		width: 100%;
		overflow-x: hidden;
	}
  }
@media screen and (max-width: 990px){

	.container-archivos{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}
	.container-img-archivos img{
	 width: 200px;
	 margin-left: 2em;
	}
	.co
	.container-tabla-archivos{
		overflow-y: auto;
		
	}
	.container-tabla-archivos table thead tr{
		font-size: .9em;
	}
	.container-tabla-archivos table thead tr th{
		padding: .1em;
		border-radius: 1em;
	}
	.container-tabla-archivos table tbody tr th{
		font-size: .8em;

	}
	.container-tabla-archivos table tbody tr th img{
		width: 18px;
	}
	
}
/************************************************** fin - archivos.html******************************************************************/
/************************************************** inicio - enlaces.html******************************************************************/
.container-enlaces{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
	overflow-y: hidden;
}
.container-img-enlaces{
	width: 70%;
	margin-bottom: 3%;
}
.container-img-enlaces img{
	width: 30%;
}
.container-tabla-enlaces{
	display: flex;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}
.container-tabla-enlaces table thead tr{
	background-color: #FF1E0A;
	color: #ffffff;
	font-size: 1.1em;
}
.container-tabla-enlaces table thead tr th{
	height: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	border-radius: 1em;

}
.container-tabla-enlaces table thead tr th:nth-child(1){
	width: 30%;
}
.container-tabla-enlaces table thead tr th:nth-child(2){
	width: 40%;
}
.container-tabla-enlaces table thead tr th:nth-child(3){
	width: 20%;
}

.container-tabla-enlaces table{
	overflow-y: scroll;
}
.container-tabla-enlaces table tbody tr th{
	padding-top: 20px;
	color: #666666;
	font-size: 1em;	
}

.container-tabla-enlaces table tbody tr th:nth-child(1){
	text-align: left;
}

.container-tabla-enlaces table tbody tr th:nth-child(4){
	cursor: pointer;
}
.container-tabla-enlaces table tbody tr th img{
	cursor: pointer;
	width: 28px;
	transform: rotate(90deg);
}



@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-enlaces{
		width: 70%;
	}
	.container-img-enlaces img{
		width: 40%;
		max-width: 250px;
	}
	.container-tabla-enlaces  {
		width: 100%;
		overflow-x: hidden;
	}
  }
@media screen and (max-width: 990px){

	.container-enlaces{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}
	.container-img-enlaces img{
	 width: 200px;
	 margin-left: 2em;
	}
	.co
	.container-tabla-enlaces{
		overflow-y: auto;
		
	}
	.container-tabla-enlaces table thead tr{
		font-size: .9em;
	}
	.container-tabla-enlaces table thead tr th{
		padding: .1em;
		border-radius: 1em;
	}
	.container-tabla-enlaces table tbody tr th{
		font-size: .8em;

	}
	.container-tabla-enlaces table tbody tr th img{
		width: 18px;
	}
	
}
/************************************************** fin - enlaces.html******************************************************************/
/************************************************** inicio - presentaciones.html******************************************************************/
.container-presentaciones{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8%;
	margin-top: 5%;
	width: 85%;
	overflow-y: hidden;
}
.container-img-presentaciones{
	width: 70%;
	margin-bottom: 3%;
}
.container-img-presentaciones img{
	width: 30%;
}
.container-tabla-presentaciones{
	display: flex;
	width: 100%;
	height: 70vh;
	overflow-y: scroll;
}
.container-tabla-presentaciones table thead tr{
	background-color: #FF1E0A;
	color: #ffffff;
	font-size: 1.1em;
}
.container-tabla-presentaciones table thead tr th{
	height: 1em;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	border-radius: 1em;

}
.container-tabla-presentaciones table thead tr th:nth-child(1){
	width: 30%;
}
.container-tabla-presentaciones table thead tr th:nth-child(2){
	width: 40%;
}
.container-tabla-presentaciones table thead tr th:nth-child(3){
	width: 20%;
}

.container-tabla-presentaciones table{
	overflow-y: scroll;
}
.container-tabla-presentaciones table tbody tr th{
	padding-top: 20px;
	color: #666666;
	font-size: 1em;	
}

.container-tabla-presentaciones table tbody tr th:nth-child(1){
	text-align: left;
}

.container-tabla-presentaciones table tbody tr th:nth-child(4){
	cursor: pointer;
}
.container-tabla-presentaciones table tbody tr th img{
	cursor: pointer;
	width: 28px;
	transform: rotate(90deg);
}



@media all and (-ms-high-contrast:none){
	/* estilos CSS para IE9, IE10, IE11  */
	.container-presentaciones{
		width: 70%;
	}
	.container-img-presentaciones img{
		width: 40%;
		max-width: 250px;
	}
	.container-tabla-presentaciones  {
		width: 100%;
		overflow-x: hidden;
	}
  }
@media screen and (max-width: 990px){

	.container-presentaciones{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 5%;
	}
	.container-img-presentaciones img{
	 width: 200px;
	 margin-left: 2em;
	}
	.co
	.container-tabla-presentaciones{
		overflow-y: auto;
		
	}
	.container-tabla-presentaciones table thead tr{
		font-size: .9em;
	}
	.container-tabla-presentaciones table thead tr th{
		padding: .1em;
		border-radius: 1em;
	}
	.container-tabla-presentaciones table tbody tr th{
		font-size: .8em;

	}
	.container-tabla-presentaciones table tbody tr th img{
		width: 18px;
	}
	
}
/************************************************** fin - presentaciones.html******************************************************************/
/************************************************** inicio - bienvenidos.html******************************************************************/
.container-video-bienvenida{
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 100%;
	margin-top: 7%;
	margin-left: 2%;
}
.container-video-bienvenida h1{
	font-size: 2em;
	font-family:TerpelSans-Bold;
	color: #FF1E0A;
}
.container-video-bienvenida video{
	width: 70%;
	margin-bottom: 0%;
}

@media screen and (max-width: 990px){
	.container-video-bienvenida{
		margin-left: 0;
		width: 100%;
	}
	.container-video-bienvenida h1{
		font-size: 1em;
		margin-left: .2em;
	}
	.container-video-bienvenida video{
		width: 100%;
	}
}
/************************************************** fin - bienvenidos.html******************************************************************/